@media screen and (max-width: 510px) {
  .deck {
    width: 300px;
    height: 310px;
  }
  .card {
    width: 57px;
    height: 57px;
    font-size: 40px;
  }
  .score-panel {
    width: 250px;
  }
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 510px) {
  .deck {
    width: 500px;
    height: 515px;
  }
  .card {
    width: 95px;
    height: 95px;
    font-size: 60px;
  }
  .score-panel {
    width: 450px;
  }
}
@media screen and (min-width: 680px) {
  .deck {
    width: 660px;
    height: 680px;
  }
  .card {
    width: 125px;
    height: 125px;
    font-size: 90px;
  }
  .score-panel {
    width: 600px;
  }
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 30px 0;
    padding: 0;
}

body {
  /* Background from freecreatives */
  background: #000 url('../img/background.jpg') no-repeat fixed center;
  background-size: cover;
  font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
 .deck {
     background: #000 url('../img/deck.jpg') no-repeat scroll center;
     background-size: cover;
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3em;
     position: relative;
     -webkit-perspective: 800px;
     -moz-perspective: 800px;
     -o-perspective: 800px;
     perspective: 800px;
 }

.card {
    border-radius: 8px;
    border-color: #c2fbfc;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  background: #17435e;
  cursor: pointer;
}

.card .back {
  background: #86e6e8;
  cursor: default;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .match {
    cursor: default;
    background: #02ccba !important;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .timer {
  padding-left: 10%;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
